.footer {
    background-color: var(--primary-color);
    color: white;
    text-align: center;
    padding-bottom: 0;
    margin-bottom: 0;
}

.bg-white {
    margin-bottom: 0;
}

.header {
    background-color: var(--primary-color);
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1000;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

body {
    padding-top: 50px;
}

.nav-link {
    color: var(--nav-color)
}

.hero {
    background: url('../../images/cong-ty-thiet-ke-noi-that--e1632361545651.jpeg') no-repeat center bottom/cover;
    height: 80vh;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    color: var(--background-color);
    position: relative;
}

.hero::before {
    content: "";
    position: absolute;
    top: 0; left: 0;
    width: 100%; height: 100%;
    background: rgba(0, 0, 0, 0.5);
}

.hero-content {
    position: relative;
    z-index: 2;
}

.hero h1 {
    font-size: 3rem;
    font-weight: bold;
}

.hero p {
    font-size: 1.2rem;
}

.hero .btn {
    background-color: #5a4436;
    border: none;
    padding: 10px 20px;
    font-size: 1.2rem;
    color: white;
    transition: transform 0.5s ease-in-out, background-color 0.3s;
    animation: pulse 1.5s infinite alternate;
}

@keyframes pulse {
    0% {
        transform: scale(1);
    }
    100% {
        transform: scale(1.1);
    }
}

.section-content {
    padding: 10px 20px 50px 20px;
    text-align: center;
}

.product-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 20px;
    padding: 50px 20px;
}
.product-card {
    background: white;
    border-radius: 10px;
    padding: 15px;
    text-align: center;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
}
.product-card:hover {
    transform: translateY(-5px);
}
.product-card img {
    width: 100%;
    height: auto;
    border-radius: 8px;
}
.product-card h3 {
    font-size: 1.2rem;
    margin-top: 10px;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    max-width: 100%;
    height: 3.6em;
}
.product-card .price-container {
    margin-top: auto;
    text-align: center;
}
.product-card .price {
    font-size: 1.1rem;
    color: #5a4436;
    font-weight: bold;
}
.product-card .original-price {
    text-decoration: line-through;
    color: #888;
    font-size: 0.9rem;
}
.product-card .discount {
    color: red;
    font-weight: bold;
}


.error-not-found {
    min-height: 52vh;
    display: flex;
    align-items: center;
    justify-content: center;
}
.error-code {
    font-size: 8rem;
    font-weight: bold;
    color: #dc3545;
    animation: fadeIn 1s ease-in-out;
}
.error-text {
    font-size: 1.5rem;
    margin-bottom: 20px;
    color: #6c757d;
}
.btn-custom {
    padding: 12px 24px;
    font-size: 1.2rem;
    transition: all 0.3s ease-in-out;
}
.btn-custom:hover {
    background-color: #bb2d3b;
    transform: scale(1.05);
}
@keyframes fadeIn {
    from { opacity: 0; transform: translateY(-20px); }
    to { opacity: 1; transform: translateY(0); }
}

.original-price {
    text-decoration: line-through;
    color: #888;
    font-size: 0.9rem;
}